@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body{
  font-family: "Playfair Display", sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding-left: 40px;

}
.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;
  background: #222042;
  padding: 10px 0;
  color: #fff;
}
.fixed-header{
  top: 0;
  padding-left: 25px;
}
.fixed-footer{
  bottom: 0;
  padding-inline-start: 900px;
}
nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;

}

.Image{
  height: 400px;
  padding: 10px;

}
.welcome{
  height: 350px;
  width: 750px;
  border-style: none;
  text-align: left;
  padding-top: 40px;
  padding-left: 150px;
}

.header2{
text-align: center;

}

.align{
  padding-left: 150px;
}
.FORM{
  font-size: 25px;
  border: solid;
  height: 220px;
  width: 360px;
  padding-top: 30px;
  padding-left: 8px;
}

.About{
  display: flex;
  align-items: center;
  height: 300px;
  width: 300px;
  padding-left: 400px;
}
